.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin:0;
    padding: 0;
    display:flex;
    justify-content: center;
  font-size: 1rem;
}
.footer p {
    margin:0;
    padding:0;
    text-align: center;
    opacity: 30%;
    user-select: none;
    font-size: 0.6em;
}