.main-second {
    margin: 0;
    padding: 0;
    color: #202020;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #fafafa;
    overflow: hidden;
}

.main-second-inner {
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(26, 27, 31, 0.1);
    background-color: #fff;
}

.mid {
    width: 80%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    position: relative;
    border: 1px solid rgba(26, 27, 31, 0.1);
    border-radius: 5px;
}

.mid-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0.5em;
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

.first-text,
.second-text,
.third-text,
.contact {
    width: 100%;
}

.contact {
    display: flex;
    justify-content: flex-start;
}

.contact-icons {
    color: #65656d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    cursor: pointer;
}

.contact-icons a {
    color: #65656d;
    text-decoration: none;
}

.first-text p {
    color: #1a1b1f;
    position: relative;
    width: fit-content;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 4rem;
    z-index: 1;
    letter-spacing: 0.2rem;
}

.rectangle {
    position: absolute;
    width: 100%;
    background-color: pink;
    height: 100%;
    left: -1.2rem;
    top: -1.5rem;
    z-index: -1;
}

.second-text p {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.8rem;
    opacity: 0.6;
    letter-spacing: 0.3rem;
    background-color: #fafafa;
}

.third-text p {
    padding: 0;
    margin: 0;
    color: #1a1b1f;
    opacity: 0.6;
    font-size: 1rem;
    line-height: 28px;
}

.third-text>p>span {
    font-size: 1.5em;
}

.mid-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}



.bot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}




.square {
    user-select: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1b1f;
    opacity: 60%;
    width: 50%;
}