.main-third {
    margin: 0;
    padding: 0;
    color: #e2d7d7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #202020;
    position: relative;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 1px, 
        transparent 1px
      );
      background-position: 50% 50%;
      background-size: 1.1rem 1.1rem;
   
}

.main-third-inner {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

}



.main-third-inner-top {
    margin: 0;
    padding: 0;
    width: 100%;

}

.main-third-inner-top p {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: center;
    font-family: Century Gothic;
    user-select: none;
    z-index: 1;
    position: relative;
    visibility: hidden;
}



.main-third-inner-bot {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 27%;
    background-color:#202020;
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 0.6250em;
    position: relative;
}
 
.project-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.project-name p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-family: Century Gothic;
    user-select: none;
    position: relative;
    z-index: 1;
}

.project-name p::before {
    content: '';
    position: absolute;
    width: 30%;
    background-color: #E23D28;
    height: 50%;
    left: 30%;
    top: 0;
    z-index: -1;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    width: 90%;
    height: 30%;
    font-family: Century Gothic;
}

.project-description p {
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100%;
    height: 30%;
    height: 100%;


}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.project-buttons button {
    padding: 0.3em;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 1em;
    font-family: "Rubik", sans-serif;
    cursor: pointer;

}

.project-buttons button:hover {
    color: #E23D28;
    transition: color 400ms ease-out;
}

.project-buttons button a {
    text-decoration: none;
    color: inherit;
}

.project-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;


}

.project-thumbnail img {
    width: 90%;
    height: 90%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.6250em;
    object-fit: cover;
}

/*third main load animations */
@keyframes project-header-load-animation {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateX(0.5rem);
        visibility: visible;
    }
}

.project-header-load-animation {
    animation: project-header-load-animation 1.5s linear;
    animation-fill-mode: forwards;
}


.project:after {  
    content: "";
    height: 25%;
    width: 1px;  
    position: absolute;  
    left:-1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      var(--primary-color),
      transparent
    );
    opacity: 0;
  }
   
  .project:hover:after {
    top: 25%;
    opacity: 1;
  }