.App {
  background-color: #fff;
    margin: 0;
    padding:0;
    max-width: 100vw;
    scroll-behavior: smooth;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

/* #cursor {
    background-color: white;
    height: 3vmax;
    width: 3vw;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    opacity: 0.2;
    filter: blur(20px);
  z-index: 3;
} */